body {
  background: #332414;
  font: normal bold 15px "Aldrich";
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  padding: 20px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 2px rgba(243, 153, 90, 0.5);
  background: #986131;
  display: flex;
  flex-wrap: wrap;

  .pad-grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);

    .drum-pad {
      width: 75px;
      height: 75px;
      box-shadow: 3px 3px 3px black;
      margin: 5px;
      background-color: #999;
      border-radius: 3px;
    }
  }

  .controls {
    width: 200px;
    margin: auto;
    margin-left: 20px;
    text-align: center;
    .switch {
      display: inline-block;
      margin-top: 15px;

      .inner-switch {
        background: black;
        border-radius: 3px;
        width: 40px;
        height: 15px;
        padding: 5px;
        cursor: pointer;
        .switch-button {
          height: 15px;
          width: 20px;
          background: red;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }

    #slider {
      background: #2d1c03;
      border-color: rgba(243, 153, 90, 0.5);
      cursor: pointer;
      margin-top: 15px;

      .ui-slider-range-min {
        background: #693f1e;
        border: none;
        outline: none;
      }

      .ui-slider-handle {
        border-color: rgba(243, 153, 90, 0.5);
        background: red;
        cursor: pointer;
        outline: none;
      }
    }

    .display {
      margin-top: 15px;
      border-radius: 3px;
      background: #693f1e;
      height: 30px;
    }
  }
}
